@using BuraksRecordShopHRM.Components.Map
@*JS Runtime için gerekir*@
@using Microsoft.JSInterop

@*JS tarafından fonksiyon çağırabilmek için kullanılıyor*@
@inject IJSRuntime JSRuntime

<div id="@elementId" style="height:100%;width:100%"></div>

@code{
    string elementId = $"map-{Guid.NewGuid().ToString("D")}";

    [Parameter]
    public double Zoom { get; set; }
    [Parameter]
    public List<Marker> Markers { get; set; }

    /*
        Javascript fonksiyonunu component render edildikten sonra çağırabiliriz.
        Bu nedenle OnAfterRenderAsync metodu override ediliyor
    */

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        /*
            deliveryMap Javascript dosyasındaki showOrUpdate metodunu çağırıyoruz.
            Yani bir Razor bileşeni içinden bir JS kütüphanesindeki fonksiyonu çağırıyoruz.
            fonksiyon Marker sınıfı özelliklerinde bir liste ve element için benzersiz bir ID alıyor
        */

        await JSRuntime.InvokeVoidAsync(
            "deliveryMap.showOrUpdate",
            elementId,
            Markers
            );
    }
}